<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Cici Project</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <!-- Bootstrap core CSS -->

    <!-- Custom styles for this template -->
    <!-- <link href="navbar-top.css" rel="stylesheet" /> -->
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="#">CICI Project</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Project</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Report</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <input
            class="form-control mr-sm-2"
            type="text"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Search
          </button>
        </form>
      </div>
    </nav>

    <main role="main" class="container">
      <div class="jumbotron">
        <h2>Data Privacy and Cyberecurity in Human Resilience Research</h2>
        <p class="lead">
          This app provides an environment for secure statistical computation
          (IV significance prediction) on csv dataset
        </p>
        <!-- {% if messages %} {% for message in messages %}
        <div>
          <strong>{{message|safe}}</strong>
        </div>
        {% endfor %} {% else %} {{order}} -->
        <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="mb-3">
            <label for="formFile" class="form-label"
              >Upload dataset in CSV format</label
            >
            <input class="form-control" name="file" type="file" id="formFile" />
          </div>
          <p>Only Accepts CSV Files</p>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Upload</button>
          </div>
        </form>
        {% endif %}
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-3" onclick="result()">
            View computation result &raquo;
          </button>
        </div>
        <!-- <a class="btn btn-lg btn-primary" href="#" role="button"
          >View computation result &raquo;</a
        > -->
      </div>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->

    <script>
      function result() {
        location.href = "../result/";
      }
    </script>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
